/target

# inputフォルダ
original_images/*
!original_images/edge_detection_test.jpg

# outputフォルダ
processed_images/*
!processed_images/edge_detection_test_grayscale.png
!processed_images/edge_detection_test_edge.png